<div class="mt-4">
  <div>
    <div class="row">
      <div class="col-md-10 offset-md-1 p-2 form-style">

        <div class="text-center">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1YTUHd1XkJcrTZkAHvhPmZBzi_sagjyXxeQ&usqp=CAU"
               class="img-thumbnail align-content-center text-center" style="width: 150px; height: 150px">
        </div>
        <br>

        <form [formGroup]="accountFormGroup" (ngSubmit)="accountOnSubmit()">
          <div class="col-12 " style="display: inline-block">
            <div class="col-6" style="float: left">
              <mat-form-field appearance="legacy">
                <mat-label>Name</mat-label>
                <label>
                  <input matInput formControlName="name" required [(ngModel)]="user.name">
                </label>
                <mat-error *ngIf="accountSubmitted && accountForm.name.errors">
                  <div *ngIf="accountForm.name.errors.required">Name is required</div>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-6" style="float: left">
              <mat-form-field appearance="legacy">
                <mat-label>Surname</mat-label>
                <label>
                  <input matInput formControlName="surname" required [(ngModel)]="user.surname">
                </label>
                <mat-error *ngIf="accountSubmitted && accountForm.surname.errors">
                  <div *ngIf="accountForm.surname.errors.required">Surname is required</div>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-12" style="display: inline-block">
            <div class="col-6" style="float: left">
              <mat-form-field appearance="legacy">
                <mat-label>Username</mat-label>
                <label>
                  <input matInput disabled [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
                </label>
              </mat-form-field>
            </div>

            <div class="col-6" style="float: left">
              <mat-form-field appearance="legacy">
                <mat-label>Email</mat-label>
                <label>
                  <input matInput placeholder="your@email.com" formControlName="email" required
                         [(ngModel)]="user.email">
                </label>
                <mat-error *ngIf="accountSubmitted && accountForm.email.errors">
                  <div *ngIf="accountForm.email.errors.required">Email is required</div>
                  <div *ngIf="accountForm.email.errors.pattern">Email must be a valid email address</div>
                  <div *ngIf="errors.includes('user.email.not.unique.error')">Email is not unique</div>
                </mat-error>
              </mat-form-field>
            </div>
            <button mat-raised-button (click)="openPasswordDialog()">Change password</button>
          </div>
          <button [disabled]="accountFormLoading" class="btn btn-block color-green text-white mt-4 btn-lg">
            <span *ngIf="accountFormLoading" class="spinner-border spinner-border-sm mr-1"></span>
            Edit account
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

