mat-form-field {
  display: block;
}

h2 {
  text-align: center;
}

.color-green {
  background: #34421E;
}ó

.color-light-white {
  background: #f1f1ef;
}

.color-yellow-gold {
  background: #c19434;
}
