<h1 mat-dialog-title>Change password</h1>

<div *ngIf="hasErrors" class="alert alert-danger">Old password is incorrect</div>

<div mat-dialog-content>

  <form [formGroup]="passwordFormGroup">
    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Enter old password</mat-label>
        <label>
          <input matInput [type]="oldPasswordHide ? 'password' : 'text'" formControlName="oldPassword" required>
        </label>
        <button mat-icon-button matSuffix (click)="oldPasswordHide = !oldPasswordHide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="oldPasswordHide">
          <mat-icon>{{oldPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="submitted && form.oldPassword.errors">
          <div *ngIf="form.oldPassword.errors.required">Password is required</div>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Enter new password</mat-label>
        <label>
          <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="password" required>
        </label>
        <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="oldPasswordHide">
          <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="submitted && form.password.errors">
          <div *ngIf="form.password.errors.required">Password is required</div>
          <div *ngIf="form.password.errors.minlength">Password must be at least 8 characters</div>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Confirm password</mat-label>
        <label>
          <input matInput [type]="confirmationPasswordHide ? 'password' : 'text'" formControlName="confirmationPassword"
                 required>
        </label>
        <button mat-icon-button matSuffix (click)="confirmationPasswordHide = !confirmationPasswordHide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="oldPasswordHide">
          <mat-icon>{{confirmationPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="submitted && form.confirmationPassword.errors">
          <div *ngIf="form.confirmationPassword.errors.required">Confirm password is required</div>
          <div *ngIf="form.confirmationPassword.errors.notMatch">Passwords must match</div>
        </mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button class="bg-danger text-white" (click)="close()">Close</button>
      <button mat-button class="bg-success text-white" (click)="onSubmit()" cdkFocusInitial>Change</button>
    </div>
  </form>
</div>
