/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background: url("https://trendykits.com/wp-content/uploads/2020/09/Books-Thumbnail.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-style {
  box-shadow: 3px 3px 22px 3px rgba(204, 204, 204, 0.6);
  border-radius: 10px;
  background: #f1f1ef;
}
