<div class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 p-2 form-style">
        <h2>Register form</h2>

        <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()">
          <div class="col-12">
            <mat-form-field appearance="legacy">
              <mat-label>Name</mat-label>
              <label>
                <input matInput formControlName="name" required>
              </label>
              <mat-error *ngIf="submitted && form.name.errors">
                <div *ngIf="form.name.errors.required">Name is required</div>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy">
              <mat-label>Surname</mat-label>
              <label>
                <input matInput formControlName="surname" required>
              </label>
              <mat-error *ngIf="submitted && form.surname.errors">
                <div *ngIf="form.surname.errors.required">Surname is required</div>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy">
              <mat-label>Username</mat-label>
              <label>
                <input matInput formControlName="username" required>
              </label>
              <mat-error *ngIf="submitted && form.username.errors">
                <div *ngIf="form.username.errors.required">Username is required</div>
                <div *ngIf="errors.includes('user.username.not.unique.error')">Username is not unique</div>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy">
              <mat-label>Enter your email</mat-label>
              <label>
                <input matInput placeholder="your@email.com" formControlName="email" required>
              </label>
              <mat-error *ngIf="submitted && form.email.errors">
                <div *ngIf="form.email.errors.required">Email is required</div>
                <div *ngIf="form.email.errors.pattern">Email must be a valid email address</div>
                <div *ngIf="errors.includes('user.email.not.unique.error')">Email is not unique</div>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy">
              <mat-label>Enter your password</mat-label>
              <label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
              </label>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="submitted && form.password.errors">
                <div *ngIf="form.password.errors.required">Password is required</div>
                <div *ngIf="form.password.errors.minlength">Password must be at least 8 characters</div>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="legacy">
              <mat-label>Confirm password</mat-label>
              <label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmationPassword" required>
              </label>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="submitted && form.confirmationPassword.errors">
                <div *ngIf="form.confirmationPassword.errors.required">Confirm password is required</div>
                <div *ngIf="form.confirmationPassword.errors.notMatch">Passwords must match</div>
              </mat-error>
            </mat-form-field>
          </div>

          <button [disabled]="loading" class="btn btn-block color-green text-white mt-4 btn-lg">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

