<div class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 p-2 form-style">
        <h2 class="mt-4">Login form</h2>

        <div *ngIf="hasErrors" class="alert alert-danger">Incorrect username or password</div>

        <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
          <div class="col-12">
            <mat-form-field appearance="legacy">
              <mat-label>Username</mat-label>
              <label>
                <input matInput formControlName="username" required>
              </label>
              <mat-error *ngIf="submitted && form.username.errors">
                <div *ngIf="form.username.errors.required">Username is required</div>
              </mat-error>
            </mat-form-field>
            <br>

            <mat-form-field appearance="legacy">
              <mat-label>Password</mat-label>
              <label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
              </label>
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="submitted && form.password.errors">
                <div *ngIf="form.password.errors.required">Password is required</div>
              </mat-error>
            </mat-form-field>
            <br>
          </div>
          <div>
            <a routerLink="/home/register" class="text-center" fxFlex>Have not account yet? Go to registration!</a>
          </div>

          <button [disabled]="loading" class="btn btn-block color-green text-white mt-4 btn-lg">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

