<div class="row mt-2" style="height: 100%">

  <div class="col-3 bg-secondary">
    <ul>
      <li *ngFor="let product of notebooks">
        <h2>{{ product.name }} ${{ product.id}}</h2>
      </li>
    </ul>
  </div>

  <div class="col-3 bg-success">
    ss
  </div>

  <div class="col-6 bg-light">
    ss
  </div>

</div>

<!--<footer class="bg-info" style="position: absolute; width: 100%; bottom: 0;">-->
<!--  -->
<!--</footer>-->
