<header fxLayout='row'>
  <mat-toolbar class="dashboard-bg">
    <div class="app-logo ml-3">
      <h1 class="font-weight-bold">Notes</h1>
    </div>
    <div fxFlex></div>

    <div *ngIf="isAdmin" class="mr-3">
      <button mat-icon-button [matMenuTriggerFor]="menu123">
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
      <mat-menu #menu123="matMenu">
        <button mat-menu-item routerLink="/home/login">
          <mat-icon>supervised_user_circle</mat-icon>
          <span>Manage users</span>
        </button>
      </mat-menu>
    </div>

    <div class="mr-3">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/main">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item routerLink="/main/account">
          <mat-icon>account_circle</mat-icon>
          <span>Account</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>close</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
