<header fxLayout='row'>
  <mat-toolbar class="color-yellow-gold">
    <div class="app-logo ml-3">
      <h1 class="font-weight-bold">Notes</h1>
    </div>
    <div fxFlex></div>
    <div class="mr-3">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/home/login">
          <mat-icon>fingerprint</mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item routerLink="/home/register">
          <mat-icon>content_paste</mat-icon>
          <span>Registration</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
